---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.baseUrl }}/</loc>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/about/</loc>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>{{ site.baseUrl }}/blog/</loc>
    <changefreq>weekly</changefreq>
  </url>
  {%- for post in collections.posts %}
  <url>
    <loc>{{ site.baseUrl }}{{ post.url }}</loc>
    <lastmod>{{ (post.data.updated or post.data.date) | isoDate }}</lastmod>
    <changefreq>yearly</changefreq>
  </url>
  {%- endfor %}
</urlset>
